
{% extends "plantilla/master.html" %}

{% load static %}

{% block contenido %}
  <!--//Slider-->
    
  <div class="main" id="main">
    <div class="w3layouts_main_grid">
    <div class="booking-form-head-agile">
    <h3>Hotel Dream Reservación</h3>
    </div>
    <div id="messages"></div>
    <form action="{% url 'reservacion' %}" method="post" class="w3_form_post">
            {% csrf_token %}
        <div class="w3_agileits_main_grid w3l_main_grid">
                <div class="agileits_grid">
                    <h5>Name * </h5>
                    <div class="nam">
                        {{ form.huesped }}
                    </div>
                    <div class="nam1">
                        <input type="text" name="Last name" placeholder="Last Name" required="">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="w3_agileits_main_grid w3l_main_grid">
                <div class="agileits_grid">
                    <h5>E-mail </h5>
                        <input type="email" name="Email" placeholder="ex : myname@gmail.com" required="">
                </div>
            </div>
            <div class="agileits_main_grid w3_agileits_main_grid">
                <div class="wthree_grid">
                    <h5>Room Type</h5>
                    {{ form.tipo_habitacion }}
                </div>
            </div>
            <div class="agileits_w3layouts_main_grid w3ls_main_grid">
                <div class="agileinfo_grid">
                <h5>Check In *</h5>
                    
                    <div class="agileits_w3layouts_main_gridl">
                        {{ form.fecha_llegada }}
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="agileits_w3layouts_main_grid w3ls_main_grid">
                <div class="agileinfo_grid">
                <h5>Check Out *</h5>
                    
                    <div class="agileits_w3layouts_main_gridl">
                        {{ form.fecha_salida }}
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="agileinfo_main_grid">
                <div class="agileits_w3layouts_grid">
                    <h5>Tipo pago *</h5>
                    {{ form.tipo_pago }}
                </div>
            </div>
            <div class="w3_main_grid">
                
                <div class="w3_main_grid_right">
                    <input type="submit" value="Reservar">
                </div>
                <div class="clearfix"> </div>
            </div>
        </form>
    </div>

</div>  
<!-- /about -->
<div class="w3-aglile-about" id="about">
    <div class="w3-agile-about-grids">
        <div class="w3-aglie-about-grid1">
            <div class="col-md-6 w3-about-text-grid">
                <h3>About us</h3>
                <p>Este hotel cuenta con playa privada y muchas areas de diversion. Su restaurante esta disponible las 24 horas y cuenta con sistema de buffet</p>
                    <p>Tiene dos albercar y un area de hidromasajes</p>
                <h5><a href="#">Readmore</a></h5>
            </div>
            <div class="col-md-6 w3-aglie-about-img-grid1">
        
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="w3-aglie-about-grid2">
            <div class="col-md-4 w3-about-bg-text-grid">
            <div class="w3-about-bg-head">
            <h3>Restaurant</h3>
            <p>Nacional & internacional cocina</p>
            <h5><a href="#">ver ahora</a></h5>
            </div>
            </div>
                
            <div class="col-md-4 w3-about-text1-grid">
            <div class="w3-about-text-heads">
                <h3>Reservaciones Anticipadas</h3>
                <h4>Save 20%</h4>
                <p>Recerva con 3 meses de antelacion y recibe un descuento, solo para usuarios premium</p>
                <ul class="about-list">
                <li><a href="#">ver ahora</a></li>
                <li><a href="#main" class="scroll">Reservar</a></li>
                </ul>
                </div>
            </div>
            <div class="col-md-4 w3-about-img-grid">
                
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    </div>
    <!-- /about -->

<!-- /services -->
<div class="services" id="services">
    <div class="container">
    <div class="services-agile-head">
        <h3>Services</h3>
    </div>
        <div class="w3-agile-grids">
            <div class="col-md-6 w3-agile-services-left">
                <div class="w3-services-text">
                <ul class="services-head">
                    <li><h3>15</h3></li>
                    <li> <h5>años</h5> </li>
                    <li><h5>Experiencia</h5></li>
                </ul>
                    <p>Muchos años nos respaldan en nuestros servicios</p>
                </div>
                <div class="col-md-4 services-icon1">
                    <i class="fa fa-h-square" aria-hidden="true"></i>
                    <h4>Hospedaje</h4>
                </div>
                <div class="col-md-4 services-icon1">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <h4>Turismo</h4>
                </div>
                <div class="col-md-4 services-icon1">
                        <i class="fa fa-plane" aria-hidden="true"></i>
                    <h4>Traslado</h4>
                </div>
        
            </div>
            <div class="col-md-6 w3-agile-services-right">
                <img src="{% static 'images/ab1.jpg' %}" alt="services">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
    <!-- //services-->

    <!-- Gallery -->
<div id="gallery" class="gallery">
    <div class="container">
        <div class="agileits-gal-title">
            <h3>Our gallery</h3>
        </div> 
        <div class="sap_tabs">			
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li class="resp-tab-item"><span>Habitaciones</span></li>
                    <li class="resp-tab-item"><span>Comidas</span></li>
                    <li class="resp-tab-item"><span>Postres</span></li>
                    <li class="resp-tab-item"><span>Bebidas & Helados</span></li>				
                </ul>	
                <div class="clearfix"> </div>	
                <div class="resp-tabs-container">
                    <div class="tab-1 resp-tab-content">
                        <div class="col-md-6 portfolio-grids">
                                <div class="gallery-text-agile agile-offer1">
                                <h3>Double Habitacion<span>$1530/por noche</span></h3>
                                <p>Inicia tus vacaciones en una increible habitacion familiar</p>
                                <ul>
                                <li>Adults: 3-4</li>
                                <li>Contiene: Closet,Servcio a la habitacion, TV HD, Telefono</li>
                                <li>Size: 30m²</li>
                                <li>Tipo de cama: Dos camas</li>
                                <li>Categoria: Double, Single</li>
                                </ul>
                                </div>
                                </div>
                                <div class="col-md-6 portfolio-grids offer-gal-images offer-gal-img1">
                                    <div class="offer-gallery-img1">
                                    </div>
                                    
                                </div>
                            <div class="clearfix"></div>
                            <div class="col-md-6 portfolio-grids offer-gal-images offer-gal-img2">
                                <div class="offer-gallery-img2">
                                    </div>
                                </div>
                                <div class="col-md-6 portfolio-grids">
                                <div class="gallery-text-agile agile-offer1">
                                <h3>single Room<span>$1939/por noche</span></h3>
                                <p>Incia tus vacaciones en pareja o de amor propio con esta increible habitacion</p>
                                <ul>
                                <li>Adultos: 2</li>
                                <li>Contiene: Closet,Servicio a la habitacion, baño con Jacuzzi, TV HD (incluye TV por satelite y streamming), Telefono</li>
                                <li>Size: 30m²</li>
                                <li>Tipo de cama: Una sola cama</li>
                                <li>Categoria: Double, Single</li>
                                </ul>
                                </div>
                                </div>
                                <div class="clearfix"></div>
                        </div>
                    <div class="tab-2 resp-tab-content">
                        <div class="col-md-6 portfolio-grids">
                                <div class="gallery-text-agile agile-offer1">
                                <h3>Crumbed Whiting<span>$250</span></h3>
                                <p>Fresh local baby whiting fillets in a sesame and parsley crumb s/w chips salad lemon and tartare... This is a lunch that will leave you asking for mor...</p>
                                </div>
                                <div class="gallery-text-agile agile-offer2">
                                <h3>Chicken Parmagiana<span>$320</span></h3>
                                <p>Chicken Surf & Turf $31 Char grilled garlic chicken breast fillet topped with a garlic seafood sauce & served with garden salad & steak fries or with ...</p>
                                
                                </div>
                                <div class="gallery-text-agile agile-offer3">
                                <h3>Gluten Free Surf & Turf<span>$450</span></h3>
                                <p>Julliene veggies & rice noodles with mint coriander & cashew nuts nestled in mixed leaves and finished with sesame oil and a lime dressing.</p>
    
                                </div>
                                </div>
                                <div class="col-md-6 portfolio-grids offer-gal-images offer-gal-img3">
                                    <div class="offer-gallery-img3">
                                    </div>
                                </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="tab-3 resp-tab-content">
                        <div class="col-md-6 portfolio-grids">
                                <div class="gallery-text-agile agile-offer1">
                                <h3>Organic Yoghurt Panna Cotta<span>$50</span></h3>
                                <p>Blackcurrant & limoncello compote, crunchy spiced crumble & lemon zest</p>
                                </div>
                                <div class="gallery-text-agile agile-offer2">
                                <h3>Jamies Favorite Orange Cake<span>$480</span></h3>
                                <p>Served with whipped crème fraîche, fresh orange & pomegranate</p>
                                
                                </div>
                                <div class="gallery-text-agile agile-offer3">
                                <h3>Vin Sano Tiramisu<span>$39</span></h3>
                                <p>The classic Italian dessert with vin santo, chocolate shavings & orange zest</p>
    
                                </div>
                                </div>
                                <div class="col-md-6 portfolio-grids offer-gal-images offer-gal-img4">
                                    <div class="offer-gallery-img4">
                                    </div>
                                </div>
                            <div class="clearfix"></div>
                    </div>
                    <div class="tab-4 resp-tab-content">
                        <div class="col-md-6 portfolio-grids offer-gal-images offer-gal-img5">
                                    <div class="offer-gallery-img5">
                                    </div>
                                </div>
                                <div class="col-md-6 portfolio-grids">
                                    <div class="gallery-text-agile agile-offer1">
                                    <h3>Organic Yoghurt Cotta<span>$50</span></h3>
                                    <p>Blackcurrant & limoncello compote, crunchy spiced crumble & lemon zest</p>
                                    </div>
                                    <div class="gallery-text-agile agile-offer2">
                                        <h3>Jamie Blossom Poleta Cake<span>$480</span></h3>
                                        <p>Served with whipped crème fraîche, fresh orange & pomegranate</p>
                                
                                    </div>
                                    <div class="gallery-text-agile agile-offer3">
                                        <h3>Vin Sano Tiramisu<span>$39</span></h3>
                                        <p>The classic Italian dessert with vin santo, chocolate shavings & orange zest</p>
    
                                    </div>
                                </div>
                        <div class="clearfix"> </div>
                        <div class="col-md-3 ice-cream-agile ice-cream-agile-img1 ">
                        
                        </div>
                        <div class="col-md-3 ice-cream-agile ice-cream-agile-img2">
                        
                        </div>
                        <div class="col-md-3 ice-cream-agile ice-cream-agile-img3">
                        
                        </div>
                        <div class="col-md-3 ice-cream-agile ice-cream-agile-img4">
                        
                        </div>
                        <div class="clearfix"> </div>
                 </div>
    </div>
    
    </div>
                        
    </div>
    </div>
    </div>
    <!-- //Gallery -->

    <!-- Testimonials -->
<div id="review" class="jarallax reviews agile-1" >
    <div class="w3-agile-test-monials" id="testimonials">
        <div class="client-review-head">
            <h3>Nuestros huespedes opinan</h3>
            <div class="sreen-gallery-cursual">
                   <div id="owl-demo" class="owl-carousel">
                         <div class="item-owl">
                                <div class="test-review wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                   <p><img src="images/left-quotes.png" alt=""> Polite sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco<img src="images/right-quotes.png" alt=""></p>
                                  <img src="images/test2.jpg" class="img-responsive" alt=""/>
                                  <h5>Henry</h5>
                                </div>
                        </div>
                         <div class="item-owl">
                            <div class="test-review wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                             <p> <img src="images/left-quotes.png" alt="">Polite sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco<img src="images/right-quotes.png" alt=""></p>
                                <img src="images/test1.jpg" class="img-responsive" alt=""/>
                                 <h5>Smith</h5>
                            </div>
                        </div>
                         <div class="item-owl">
                            <div class="test-review wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                 <p><img src="images/left-quotes.png" alt=""> Polite sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <img src="images/right-quotes.png" alt=""></p>
                                <img src="images/test3.jpg" class="img-responsive" alt=""/>
                                 <h5>Steave</h5>
                            </div>
                        </div>
                  </div>
            <!--//screen-gallery-->
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
</div>
<!-- //Testimonials -->

<!-- //header -->
<!-- js files -->
<!-- For-Banner -->
     <script src="{% static 'js/responsiveslides.min.js' %}"></script>
     <script>
        // You can also use "$(window).load(function() {"
        $(function () {
          $("#slider").responsiveSlides({
            auto: true,
            manualControls: '#slider3-pager',
          });
        });
      </script>
<!-- //For-Banner -->
   
<!-- contact form -->
<div class="contact-form" id="contact-form">
    <div class="container">
        <div class="contact-agileits-title"> 
            <h3>Contact Us</h3> 
        </div>	
        <div class="clearfix"></div>
               <!--get in touch start here-->
            <div class="get-touch" id="contact1">
                    <div class="get-touch-main">
                        <div class="get-touch-bottom">
                            <form action="#" method="post">
                            <input type="text" placeholder="First Name" name="First Name" required="">
                            <input type="text" class="no-mar" placeholder="Last Name" required="">
                            <input type="text" placeholder="Phone Number" name="phone" required="">
                            <input type="email" class="no-mar" placeholder="Email" name="Email" required="">
                            <textarea placeholder="Message" name="Message" required="" ></textarea>
                            <input type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
            </div>
    <!--get in touch end here-->
    </div>
    </div>
    
    <!-- contact -->
    <div class="contact" id="contact">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12107.26650393514!2d-112.05321904089281!3d40.6559724368103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x35a5211d879631be!2sHexcel+Corporation!5e0!3m2!1sen!2sin!4v1491470367982"></iframe>
        
            <div class="container">
                <div class="agileinfo_map_color">
                    <div class="agileinfo_map_color_grid">
                        <div class="col-md-6 contact-up">
                            <div class="agileinfo_map_color_grid_left">
                                <h4>Contact us</h4>
                            <p>123 san francisco <span>New York City USA</span></p>
                            <p>+00 1111 222</p>
                            <p>+12 322 3333</p>
                                
                            </div>
                        </div>
                        <div class="col-md-6 contact-up1">
                            <div class="agileinfo_map_color_grid_left">
                                <h4>Mail us</h4>
                                <p><a href="mailto:example@mail.com"> mail@example.com</a></p>
                                <h4>catch on</h4>
                                <ul class="map-top-icon">
                                <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                                <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                                <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Al final de tu plantilla HTML -->
<script>
    {% if messages %}
        {% for message in messages %}
            var messageType = "{{ message.tags }}";
            var messageText = "{{ message }}";
            showMessage(messageType, messageText);
        {% endfor %}
    {% endif %}

    function showMessage(type, text) {
        var alertClass = type === 'error' ? 'alert-danger' : 'alert-success';
        var messageHtml = '<div class="alert ' + alertClass + ' alert-dismissible fade show" role="alert">' +
                            '<strong>' + text + '</strong>' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                         '</div>';
        document.getElementById('messages').innerHTML += messageHtml;
    }
</script>

{% endblock %}
